:root{
    --skin-color:#ec1839;
    --text-black-1:#161615;
    --text-black-2:#32322d;
    --text-black-1:#5d5d2b;
    --text-white-1:#ffffff;
    --text-gold-50:#d17300;
    --background-1:#021626;
    --background-2:#f8f7f6;
    --hover-1:#a2fc06;
}